$tabwidth: 700px;
$midwidth: 900px;
$deskwidth: 1200px;
$color__db-gold: #D8A958;
$color__db-blue: #073EFC;
$color__db-grey: #474747;
$color__db-purple: #554b94;

@mixin flexbox(){
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
}
@mixin flexbox-flex($first, $second, $third) {
-webkit-box-flex: $first $second $third;
-moz-box-flex: $first $second $third;
-webkit-flex: $first $second $third;
-ms-flex: $first $second $third;
flex: $first $second $third;
}
@mixin flexbox-wrap($value){
-webkit-flex-wrap: $value;
flex-wrap: $value;
}
@mixin flexbox-align-content($value){
-webkit-align-content: $value;
align-content: $value;
}
@mixin flexbox-align-items($value){
-webkit-align-items: $value;
align-items: $value;
}
@mixin flexbox-justify($value){
-webkit-justify-content: $value;
justify-content: $value;
}
@mixin flexbox-align-self($value){
-webkit-align-self: $value;
align-self: $value;
}
@mixin flexbox-direction($value){
  -webkit-flex-direction: $value;
  flex-direction: $value;
}

/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: 100%;
	margin: 20px 0 0 0;
    clear: both;
    text-align: center;
	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		margin: 0;
		display: inline-block;
        list-style: none;
        color: white;
	}
}
.navigation li a {
    display: block;
	color: #fff;
	text-decoration:none;
	background-color: $color__db-gold;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: $color__db-grey;
}

.copy >*:first-child {
    margin-top: 0;
    padding-top: 0;
}
.copy >*:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.woocommerce .post {
    width: 100%;
}
.woocommerce-checkout {
    .woocommerce {
        .woocommerce-info {
            border-top-color: $color__db-gold;
            &:before {
                color: $color__db-gold;
            }
        }
        input.button.alt {
            background-color: $color__db-gold;
            border-radius: 0;
        }
    }
}
.woocommerce-cart {
    .woocommerce-message {
        border-top-color: $color__db-gold;
        &:before {
            color: $color__db-gold;
        }
    }
    .woocommerce {
        form.woocommerce-cart-form {
            a {
                color: inherit;
            }
        }
        .cart-collaterals {
            a, h2 {
                color: inherit;
            }
            a.button.alt {
                background-color: $color__db-gold;
                border-radius: 0;
                &:hover {
                    background-color: $color__db-gold;
                }
            }
        }
    }
}
#main {
    .product-content, .single-product-content {
        padding: 20px;
        @media screen and (min-width: $deskwidth){
            padding: 0 0 60px 0;
        }
        * {
            box-sizing: border-box;
        }
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
        h2 {
            color: inherit;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        >.row-1.cart-bar {
            text-align: center;
            margin: 0 0 20px 0;
            &:after {
                clear: both;
                content: "";
                display: block;
            }
            >header {
                margin: 0 0 10px 0;
                @media screen and (min-width: $midwidth){
                    float: left;
                    margin: 0;
                }
                h1 {
                    margin: 0;
                }
            }
            >.wrapper {
                position: relative;
                display: inline-block;
                @media screen and (min-width: $midwidth){
                    float: right;
                }
                &:after {
                    clear: both;
                    content: "";
                    display: block;
                }
                >.col-1 {
                    display: inline-block;
                    @media screen and (min-width: $midwidth){
                        float: left;
                    }
                    &:after {
                        clear: both;
                        content: "";
                        display: block;
                    }
                    >form.bella-search {
                        display: none;
                        float: left;
                        input {
                            border: 1px solid $color__db-gold;
                            float: left;
                            font-size: 16px;
                            padding: 5px 10px;
                            margin: 0 10px 0 0;
                            width: 150px;
                            @media screen and (min-width: $midwidth){
                                width: auto;
                            }
                        }
                        button {
                            cursor: pointer;
                            width: 34px;
                            display: block;
                            text-shadow: none;
                            box-shadow: none;
                            background-color: $color__db-gold;
                            border: 1px solid $color__db-gold;
                            color: white;
                            float: right;
                            font-size: 23px;
                            padding: 8px 6px;
                            margin: 0 0 0 5px;
                            &:hover {
                                color: $color__db-gold;
                                background-color: white;
                            }
                            i {
                                display: block;
                            }
                        }
                    }
                    >i.search {
                        float: left;
                        color: $color__db-gold;
                        font-size: 28px;
                        margin: 0 10px 0 0;
                        @media screen and (min-width: $midwidth){
                            font-size: 35px;
                            float: left;
                        }
                    }
                }
                .break {
                    display: block;
                    content: "";
                    clear: both;
                    @media screen and (min-width: $midwidth){
                        display: none;
                    }
                }
                >.col-2 {
                    display: inline-block;
                    margin: 10px 0 0 0;
                    @media screen and (min-width: $midwidth){
                        float: left;
                        margin: 0;
                    }
                    &:after {
                        clear: both;
                        content: "";
                        display: block;
                    }
                    >a {
                        float: left;
                        display: block;
                        margin: 0 20px 0 0;
                        i {
                            color: $color__db-gold;
                            font-size: 28px;
                            @media screen and (min-width: $midwidth){
                                font-size: 35px;
                            }
                        }
                    }
                    >.wrapper {
                        float: left;
                        &:after {
                            clear: both;
                            content: "";
                            display: block;
                        }
                        &:hover {
                            .popup-cart {
                                display: block;
                            }
                        }
                        .price-box {    
                            color: $color__db-gold;
                            border: 1px solid $color__db-gold;
                            font-size: 18px;
                            float: left;
                            padding: 5px 10px;
                            line-height: 1;
                            @media screen and (min-width: $midwidth){
                                font-size: 25px;
                            }

                        }
                        .quantity-box {
                            background-color: $color__db-gold;
                            border: 1px solid $color__db-gold;
                            color: white;
                            font-size: 18px;
                            float: left;
                            padding: 5px 20px;
                            line-height: 1;
                            @media screen and (min-width: $midwidth){
                                font-size: 25px;
                            }
                        }
                        .popup-cart {
                            position: absolute;
                            top: calc(100% - 1px);
                            z-index: 10;
                            right: 0;
                            width: 200px;
                            display: none;
                            background-color: white;
                            border: 1px solid $color__db-gold;
                            padding: 10px;
                            @media screen and (min-width: $midwidth){
                                width: 150%;
                                padding: 20px;
                                max-width: 400px;
                                min-width: 300px;
                            }
                            &:after {
                                clear: both;
                                content: "";
                                display: block;
                            }
                            .product-box {
                                margin: 0 0 20px 0;
                                .product-info {
                                    &:after {
                                        clear: both;
                                        content: "";
                                        display: block;
                                    }
                                    .product-name {
                                        text-align: left;
                                        @media screen and (min-width: $midwidth){
                                            float: left;
                                            width: 70%;
                                        }
                                    }
                                    .product-quantity {
                                        text-align: left;
                                        @media screen and (min-width: $midwidth){
                                            float: left;
                                            width: calc(30% - 10px);
                                            margin: 0 0 0 10px;
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                            .totals-checkout {
                                margin: 30px 0 0 0;
                                border-top: 2px solid $color__db-grey;
                                text-align: center;
                                &:after {
                                    clear: both;
                                    content: "";
                                    display: block;
                                }
                                .subtotal {
                                    padding: 10px 0;
                                    text-align: right;
                                }
                                .cart.button {
                                    background-color: $color__db-gold;
                                    color: white;
                                    padding: 10px;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                    display: block;
                                    @media screen and (min-width: $midwidth){
                                        padding: 10px 15px;
                                        float: right;
                                        margin: 10px 10px 0 10px;
                                    }
                                }
                                .checkout.button {
                                    background-color: $color__db-gold;
                                    color: white;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                    padding: 10px;
                                    display: block;
                                    margin: 0 0 10px 0;
                                    @media screen and (min-width: $midwidth){
                                        padding: 10px 15px;
                                        float: right;
                                        margin: 10px 0 0 10px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
        >.row-2 {
            margin: 0 0 10px 0;
            h1 {

            }
        }   
        >.row-3 {
            @include flexbox();
            @include flexbox-direction(column);
            @include flexbox-justify(stretch);
            @include flexbox-align-content(stretch);
            @include flexbox-align-items(stretch);
            @media screen and (min-width: $midwidth){
                @include flexbox-direction(row);
                @include flexbox-justify(center);
                @include flexbox-align-content(flex-start);
                @include flexbox-align-items(flex-start);
            }
            >aside.col-1 {
                width: 100%;
                order: 2;
                @media screen and (min-width: $midwidth){
                    width: 20%;
                    order: 1;
                }
                >.row-1.cat-box {
                    margin: 0 0 30px 0;
                    header {
                        h2 {
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.6;
                            margin: 0 0 5px 0;
                        }
                    }
                    >.wrapper {
                        background-color: $color__db-gold;
                        padding: 20px;
                        ul {
                            margin: 0;
                            padding: 0;
                            li {
                                margin: 0 0 10px 0;
                                list-style-type: none;
                                &:last-child {
                                    margin: 0;
                                }
                                a {
                                    color: white;
                                }
                            }
                        }
                    }
                    
                }
                >.row-2 {
                    margin: 0 0 30px 0;
                    header {
                        h2 {
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.6;
                            margin: 0 0 5px 0;

                        }
                    }
                    .woocommerce-ordering {
                        float: none;
                    }
                }
                >.row-3.popular-box {
                    margin: 0 0 30px 0;
                    header {
                        h2 {
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.6;
                            margin: 0 0 5px 0;

                        }
                    }
                    >.wrapper {
                        background-color: $color__db-gold;
                        padding: 8px 8px 15px 8px;
                        text-align: center;
                        >.wrapper {
                            .most-pop-box {
                                margin: 0 0 8px 0;
                                background-color: white;
                                padding: 5px;
                                &:last-child {
                                    margin: 0;
                                }
                                a {
                                    display: block;
                                    &:after {
                                        content: "";
                                        clear: both;
                                        display: block;
                                    }
                                    img {
                                        float: left;
                                        width: 30%;
                                    }
                                    h2 {
                                        float: left;
                                        width: 70%;
                                        padding: 0 5px 0 10px;
                                        font-size: 10px;
                                        font-weight: 500;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                        >a {
                            display: inline-block;
                            color: white;
                            border: 1px solid white;
                            border-radius: 500px;
                            text-transform: uppercase;
                            padding: 5px 30px;
                            margin: 15px 0 0 0;
                            font-size: 14px;
                            &:hover {
                                background-color: white;
                                color: $color__db-gold;
                            }
                        }
                    }
                }
            }
            >section.col-2 {
                width: 100%;
                order: 1;
                @media screen and (min-width: $midwidth){
                    width: 80%;
                    padding-left: 4%;
                    order: 2;
                }
                .woocommerce-info {
                    border-top: 2px solid $color__db-gold;
                    &:before {
                        color: $color__db-gold;
                    }
                }
                aside.banner {
                    background-color: $color__db-purple;
                    padding: 10px 60px 10px 20px;
                    margin: 0 0 20px 0;
                    @media screen and (min-width: $midwidth){
                        display: table;
                        margin: 0 0 4% 0;
                    }
                    >.col-1 {
                        @media screen and (min-width: $midwidth){
                            width: 65%;
                            display: table-cell;
                            padding: 0 5% 0 0;
                            vertical-align: middle;
                        }
                        header {
                            h2 {
                                color: white;
                                text-transform: uppercase;
                                font-weight: 500;
                                margin: 0;
                                font-size: 20px;
                                line-height: 1.6;
                            }
                        }
                        .copy {

                            color: white;
                        }
                    }
                    >.col-2 {
                        margin: 10px 0 0 0;
                        @media screen and (min-width: $midwidth){
                            text-align: right;
                            margin: 0;
                            display: table-cell;
                            vertical-align: middle;
                        }
                        a {
                            padding: 5px 15px;
                            display: inline-block;
                            color: white;
                            border: 1px solid white;
                            text-transform: uppercase;
                            border-radius: 500px;
                        }
                    }
                }
                ul.products {
                    margin: 0;
                    padding: 0;
                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                    }
                    li.product {
                        box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
                        list-style-type: none;
                        width: 100%;
                        text-align: center;
                        margin: 0 0 20px 0;
                        &:after {
                            clear: both;
                            content: '';
                            display: block;
                        }
                        @media screen and (min-width: $midwidth){
                            width: 1/3*90%;
                            margin: 0 2.5% 5% 2.5%;
                            float: left;
                            @include flexbox();
                            @include flexbox-direction(column);
                            @include flexbox-justify(stretch);
                            @include flexbox-align-content(stretch);
                            @include flexbox-align-items(stretch);
                            &.first {
                                margin-left: 0;
                            }
                            &.last {
                                margin-right: 0;
                            }
                        }
                        a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                            @include flexbox-flex(1,1,auto);
                            @include flexbox();
                            @include flexbox-direction(column);
                            @include flexbox-justify(stretch);
                            @include flexbox-align-content(stretch);
                            @include flexbox-align-items(stretch);
                            img {
                                width: 100%;
                                display: block;

                            }
                            h2 {
                                padding: 10px;
                                margin: 0;
                                display: block;
                                font-weight: 500;
                                font-size: 18px;
                            }
                            .price {
                                display: block;
                                margin-top: auto;
                                padding: 10px;
                                color: $color__db-gold;
                            }
                        }
                        .button_group {
                            border-top: 1px solid grey;
                            a {
                                display: none;
                            }
                            a.add_to_cart_button {
                                padding: 10px;
                                display: block;
                                float: left;
                                background-color: $color__db-gold;
                                margin: 10px 0 10px 10px;
                                color: white;
                                text-transform: uppercase;
                                font-size: 12px;
                                @media screen and (min-width: $deskwidth){
                                    padding: 10px 15px;
                                }
                                &:hover {
	                                background-color: $color__db-grey;
                                }
                            }
                            a.view_now {
                                padding: 10px;
                                display: block;
                                float: right;
                                background-color: $color__db-gold;
                                margin: 10px 10px 10px 0;
                                color: white;
                                text-transform: uppercase;
                                font-size: 12px;
                                @media screen and (min-width: $deskwidth){
                                    padding: 10px 15px;
                                }
                                &:hover {
	                                background-color: $color__db-grey;
                                }
                            }
                        }
                    }
                }
                .product.single {
                    &:after {
                        clear: both;
                        content: "";
                        display: block;
                    }
                    >.row-1 {
                        >.col-1 {
                            min-height: 1px;
                            @media screen and (min-width: $midwidth){
                                float: left;
                                width: 60%;
                                padding: 0 8% 0 0;
                            }
                            .woocommerce-product-gallery {
                                float: none;
                                width: 100%;
                                figure {
                                    width: 100%;
                                    margin: 0;
                                    #carousel {
                                        li.woocommerce-product-gallery__image {
                                            margin: 0 5px 0 0;
                                            &:last-child {
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        >.col-2 {
                            min-height: 1px;
                            @media screen and (min-width: $midwidth){
                                float: left;
                                width: 40%;
                            }
                            .summary.entry-summary {
                                float: none;
                                width: 100%;
                                h1 {
                                    font-weight: 500;
                                    font-family: 'Lato', sans-serif;
                                    margin: 0;
                                }
                                .woocommerce-product-details__short-description {
                                    margin: 20px 0;
                                    @media screen and (min-width: $midwidth){
                                        margin: 20px 0 30px 0;
                                    }
                                    >*:first-child {
                                        margin-top: 0;
                                    }
                                    >*:last-child {
                                        margin-bottom: 0;
                                    }
                                    p {
                                        font-size: 12px;

                                    }
                                }
                                .price {
                                    margin: 20px 0;
                                    color: $color__db-gold;
                                    font-size: 16px;
                                    @media screen and (min-width: $midwidth){
                                        margin: 20px 0 30px 0;
                                    }
                                }
                                form.cart {
                                    border-top: 2px solid lightgrey;
                                    margin: 0 0 10px 0;
                                    padding: 0 5px;
                                    @media screen and (min-width: $midwidth){
                                        margin: 0 0 30px 0;
                                        padding: 0;
                                    }
                                    @media screen and (min-width: $deskwidth){
                                        padding: 0 5px;
                                    }
                                    .quantity {
                                        margin: 10px 0 5px 0;
                                        @media screen and (min-width: $midwidth){
                                            display: inline-block;
                                            margin: 10px 0;
                                        }
                                        label {
                                            vertical-align: middle;
                                            font-size: 12px;
                                            margin: 0 8px 0 0;
                                            @media screen and (min-width: $midwidth){
                                                margin: 0 5px 0 0;
                                            }
                                            @media screen and (min-width: $deskwidth){
                                                margin: 0 8px 0 0;
                                            }
                                        }
                                        input {
                                            margin: 0 0 0 8px;
                                            font-size: 12px;
                                            width: 60px;
                                            padding: 6px;
                                            line-height: 1.2;
                                            border: 1px solid lightgrey;
                                            @media screen and (min-width: $midwidth){
                                                margin: 0 5px;
                                            }
                                            @media screen and (min-width: $deskwidth){
                                                margin: 0 8px;
                                            }
                                        }
                                    }
                                    button[type=submit].button {
                                        margin: 5px 0 10px 10px;
                                        border-radius: 0;
                                        padding: 10px;
                                        font-size: 12px;
                                        line-height: 1.2;
                                        background-color: $color__db-gold;
                                        color: white;
                                        text-shadow: none;
                                        box-shadow: none;
                                        border: none;
                                        text-transform: uppercase;
                                        border: 1px solid $color__db-gold;
                                        @media screen and (min-width: $midwidth){
                                            margin: 10px 0 10px 5px;
                                            display: inline-block;
                                        }
                                        @media screen and (min-width: $deskwidth){
                                            margin: 10px 0 10px 8px;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                    >.row-2 {
                        .woocommerce-tabs {
                            margin: 10px 0 20px 0;
                            @media screen and (min-width: $midwidth) {
                                margin: 30px 0 0 0;
                            }
                            ul.tabs {
                                margin: 0 0 10px 0;
                                padding: 0;
                                &:after {
                                    clear: both;
                                    display: block;
                                    content: "";
                                }
                                &:before {
                                    display: none;
                                }
                                li[role=tab] {
                                    list-style-type: none;
                                    float: left;
                                    color: $color__db-purple;
                                    padding: 0;
                                    border: none;
                                    font-size: 16px;
                                    background-color: transparent;
                                    margin: 0;
                                    &:before {
                                        display: none;
                                    }
                                    &:after {
                                        content: "|";
                                        display: block;
                                        float: right;
                                        margin: 0 4px 0 5px;
                                        right: unset;
                                        bottom: unset;
                                        width: auto;
                                        height: auto;
                                        border: none;
                                        box-shadow: none;
                                        position: static;
                                    }
                                    &:last-child:after {
                                        display: none;
                                    }
                                    a {
                                        padding: 0;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        @media screen and (min-width: $midwidth) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                            .woocommerce-Tabs-panel {
                                border-top: 2px solid lightgrey;
                                border-bottom: 2px solid lightgrey;
                                padding: 10px 5px;
                                font-size: 14px;
                                >*:first-child {
                                    margin-top: 0;
                                }
                                >*:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .related.products {
                    h2 {
                        margin: 10px 0 20px 0;
                        text-transform: uppercase;
                        @media screen and (min-width: $midwidth) {
                            margin: 10px 0 40px 0;
                        }
                    }
                }
            }
        }
    }
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: auto;
}
.single-lesson {
    .audio-box-button-wrapper {
        margin: 20px 0;
    }
}
.woocommerce-page .page-content li {
    background: none; 
    padding-left: 3.5em;
    margin-bottom: initial;
}
.bundled_product.bundled_product_summary.product {
    padding: 20px 0;
    .bundled_product_images {
        float: none;
        margin: 0;
    }
    >.details {

    }
}
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

  /* ====================================================================================================================
   * RESETS
   * ====================================================================================================================*/
  .flex-container a:hover,
  .flex-slider a:hover,
  .flex-container a:focus,
  .flex-slider a:focus {
    outline: none;
  }
  .slides,
  .slides > li,
  .flex-control-nav,
  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .flex-pauseplay span {
    text-transform: capitalize;
  }
  /* ====================================================================================================================
   * BASE STYLES
   * ====================================================================================================================*/
  #flexslider {
    margin: 0;
    padding: 0;
  }
  #flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
  }
  #flexslider .slides img {
    width: 100%;
    display: block;
  }
  #flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] #flexslider .slides {
    display: block;
  }
  * html #flexslider .slides {
    height: 1%;
  }
  .no-js #flexslider .slides > li:first-child {
    display: block;
  }
  /* ====================================================================================================================
   * DEFAULT THEME
   * ====================================================================================================================*/
  #flexslider {
    margin: 0 0 20px;
    background: #ffffff;
    position: relative;
    zoom: 1;
  }
  #carousel {
      position: relative;
  }
  #flexslider .slides {
    zoom: 1;
  }
  #flexslider .slides img {
    height: auto;
  }
  .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .loading .flex-viewport {
    max-height: 300px;
  }
  .carousel li {
    margin-right: 5px;
  }
  .flex-direction-nav {
    *height: 0;
  }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 38px;
    margin: -20px 0 0 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #carousel {
    .flex-direction-nav .flex-prev {
        color: rgba(0, 0, 0, 0.8);
        opacity: 1;
        left: 0;
    }
    .flex-direction-nav .flex-next {
        color: rgba(0, 0, 0, 0.8);
        opacity: 1;
        right: 0;
    }
  }
  .flex-direction-nav .flex-prev {
    left: -50px;
  }
  .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
  }
  #flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  #flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
  }
  #flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
  }
  #flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
  }
  .flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
    display: none;
  }
  .flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
  }
  .flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
  }
  .flex-pauseplay a:hover {
    opacity: 1;
  }
  .flex-pauseplay a .flex-play:before {
    content: '\f003';
  }
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
  }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
  }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
  }
  .flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
  }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
  }
  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .flex-control-thumbs img:hover {
    opacity: 1;
  }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
  }
  /* ====================================================================================================================
   * RESPONSIVE
   * ====================================================================================================================*/
  @media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
      opacity: 1;
      left: 10px;
    }
    .flex-direction-nav .flex-next {
      opacity: 1;
      right: 10px;
    }
  }